#header {
    display: flex;
    align-items: center;
    font-size: 2em;
    margin-top: 50px;
    font-weight: 700;
    flex-direction: column;
    gap: 50px;
}

#header img {
    animation: bounce 1s ease-in-out infinite forwards;
}

@keyframes bounce {
    from {
        scale: 1.1 0.9;
    }
    50% {
        scale: 0.9 1.1;
    }
    to {
        scale: 1.1 0.9;
    }
}

#mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    text-align: center;
    gap: 10px;
}

#downloadButton {
    width: 150px;
    height: 50px;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 1px solid white;
    color: white;
}

#downloadButton:hover {
    text-decoration: none;
    background-color: white;
    color: black;
}