:root {
    --pageMargin: 25dvw;
}

@font-face {
    font-family: minecraft;
    src: url(../media/fonts/minecraft.otf);
}

body {
    margin: 0;
    background-color: black;
    overflow-x: hidden;
}

sup {
    cursor: pointer;
    color: var(--accent);
}

sup:hover {
    text-decoration: underline;
}

#titleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    position: relative;
    overflow: hidden;
    background-image: url(../media/server/panorama.png);
    animation: panorama 60s linear infinite forwards;
}

@keyframes panorama {
    from {
        background-position: 0px -100px;
    }
    to {
        background-position: 2000px -100px;
    }
}

#innerTitle {
    position: relative;
}

#splashContainer {
    width: 0px;
    position: absolute;
    top: 70px;
    right: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    rotate: -7deg;
    cursor: pointer;
    user-select: none;
}


#innerSplashContainer {
    position: absolute;
    width: 500px;
    animation: splash 250ms ease-out infinite alternate-reverse;
}

@keyframes splash {
    from {
        scale: 1;
    }   
    to {
        scale: 1.1;
    }
}

#splash {
    color: yellow;
    filter: drop-shadow(2.7px 2.7px rgb(50, 50, 0));
    font-family: minecraft;
    max-width: 500px;
    font-size: 24px;
}

#blocks {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-image: url(../media/server/blocks.png);
    height: 32px;
}

#downloadButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#downloadButton {
    margin-top: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    outline: 1px solid white;
    padding: 10px;
    font-weight: 700;
    width: fit-content;
}

#downloadButton:hover {
    text-decoration: none;
    background-color: white;
    color: black;
}

#innerDownloadButton:hover {
    background-color: white;
    color: black;
    text-decoration: none;
}

#serverCountdownContainer {
    padding: 5px;
    outline: 1px solid white;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

#counterContainer {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    min-width: fit-content;
}

#serverCountdown {
    font-size: 2em;
    font-weight: 700;
}

.paragraph {
    display: flex;
    flex-direction: column;
}

.header {
    font-size: 1.5em;
    font-weight: 700;
}

#serverStatusContainer {
    width: 250px;
    outline: 1px solid white;
    margin-top: 25px;
    padding: 5px;
    min-height: 500px;
}

#statusDot {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: grey;
}

#statusInfo {
    color: grey;
}

#haroldContainer {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

#haroldContainer img {
    width: 128px;
    height: 128px;
    image-rendering: pixelated;
}

@media (max-width: 1750px) {
    :root {
        --pageMargin: 10dvw;
    }
}

@media (max-width: 750px) {
    #all {
        flex-direction: column;
    }

    #innerTitle img {
        scale: 0.5;
    }

    #splash {
        display: none;
    }

    #countownFlex {
        flex-direction: column;
    }

    #serverStatusContainer {
        width: 100%;
        min-height: unset;
    }
}